@media screen and (max-width:450px){
  body{
    width: 100%;
    overflow-x: hidden;
  }

  .topWrapper{
    height: 100vh;
    background-image: url("topWrapperBackMob.png");
  }

  .mobileLcd{
    display:block;
    min-height: 110vh;
    padding:10px;
  }

  .lcdDisplayContainer{
    display: none;
  }

  .mobileDistractionSec{
    display:none;
    height: 100vh;
  }

  .distractionSec{
    display:none;
  }

  .teamGridRow{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    padding-left:10px;
    padding-right:10px;
    line-height:1;
    font-weight: 600;
  }

  .teamGridRow:first-child{
      padding-bottom: 30px;
      padding-top: 30px;
  }

  .teamMember .card{
    position: relative;
    height: 25vh;
    margin-bottom: 10px;
  }

  .footerList{
    left: 30%;
    padding-bottom: 40px;
  }

}
